.card{
    margin-top: 3rem;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    h2{
        margin: 0;
        padding: 1rem;
       
        color: white;
        font-family: Inter, sans-serif;
        font-size: 1rem;
    }
    
}
.item{
    margin: 2rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.help{
    margin: 2rem;
    display:flex;
    
    align-items: center;
    justify-content: center;
}
.image{
    width:25rem;
    height: 17rem;
}