.Card{
    :hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        transform: translateY(-5px);
        transition: all 0.3s ease;
        cursor: pointer;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1E1E1E;
    border-radius: 8px;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width:50rem;
    p{
    color:white;
    font-size: larger;
    text-align: justify;
}
}
