.page {
  background-color: black;
}
.icon {
  display: flex;

  justify-content: left;
  align-items: center;
  padding-left: 1.5%;
  gap: 1.5%;
  padding-top: 1%;
  padding-bottom: 2%;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.text {
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 1%;
}
.text h1,
.text p {
  margin: 0;
}

.home {
  padding: 2%;
  color: white;
}

.description{
  display: flex;
  flex-direction: column;
  text-align: justify;
  h1{
    font-size: 1.5rem;
    font-weight: lighter;
    margin-bottom: 1%;
    font-family: Inter, sans-serif;

  }
  div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  p{
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.3rem;
    font-family: Inter, sans-serif;
    width: 70rem;
  }
}

.joinus{
  margin-top: 3rem;
  padding: 2rem;
  border: 2px solid white;
  border-radius: 10px;
  h2{
    margin: 0;
    font-size: 1.2rem;
    font-weight: lighter;
    font-family: Inter, sans-serif;
    text-align: center;
  }
  p{
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.3rem;
    font-family: Inter, sans-serif;
    margin-top: 3rem;
  }
}
.services{
  display: flex;
  align-items: center;
  justify-content: center;

}

