.container{
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.faqs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.askMore{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        margin-bottom: 10px;
        font-size: x-large;
    }
    p{
        margin-bottom: 20px;
        font-size: large;
    }
    input{
        width: 400px;
        height: 40px;
        border-radius: 5px;
        border: none;
        padding: 10px;
        font-size: medium;
        margin-bottom: 10px;
        margin: 2rem;
    }
    button{
        width: 150px;
        height: 40px;
        border-radius: 5px;
        border: none;
        background-color: #4CAF50;
        color: white;
        font-size: medium;
        cursor: pointer;
        margin:2rem;
    }
}

.askForm{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popupBox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    button{
        margin-top: 20px;
        background-color: black;
        color: white;
        height: 3.5rem;
        padding-bottom:1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: .5rem;
        font-size: 2rem;
        border-radius: 10%;
        cursor: pointer;
    }
    p{
        
        color: white;
        font-size: xx-large;
        text-align: justify;
    }
}